.board {
    .row {
        height: var(--cell-size);
        display: flex;
        flex-direction: row;
    }

    .free {
        background-color: lightgoldenrodyellow;
    }
    .door{
        background-color: #E6E7E8;
    }
    .wall {
        background-color: #31373D;
    }
}