.cell {
    background-color: #ffffff;
    &.free {
        background-color: lightgoldenrodyellow;
    }

    &.door {
        background-color: #E6E7E8;
    }

    &.wall {
        background-color: #31373D;
    }

    &.far {
        opacity: 0;
    }

    &.medium {
        opacity: 0.7;
    }

    &.near {
        opacity: 1;
    }

    &.inner {
        border: 0;
    }

    &.empty {
        background-color: #E6E7E8;
    }

    position: relative;

    &.left {
        position: absolute;
        z-index: 3;
        animation: left 0.5s linear;
    }

    &.right {
        position: absolute;
        z-index: 3;
        animation: right 0.5s linear;
    }

    &.up {
        position: absolute;
        z-index: 3;
        animation: up 0.5s linear;
    }

    &.down {
        position: absolute;
        z-index: 3;
        animation: down 0.5s linear;
    }

    .event {
        position: absolute;
        top: 50%;
        left: 50%;
        z-index: 5;
        transform: translate(-50%, -50%);
        pointer-events: none;
        font-size: 0;
        opacity: 0;
        animation: explode 0.7s ease-out;
    }
}

@keyframes left {
    0% {
        left: 0;
    }
    40% {
        left: -30%
    }
    100% {
        left: 0;
    }
}

@keyframes right {
    0% {
        right: 0;
    }
    40% {
        right: -30%
    }
    100% {
        right: 0;
    }
}

@keyframes up {
    0% {
        top: 0;
    }
    40% {
        top: -30%
    }
    100% {
        top: 0;
    }
}

@keyframes down {
    0% {
        bottom: 0;
    }
    40% {
        bottom: -30%
    }
    100% {
        bottom: 0;
    }
}

@keyframes explode {
    0% {
        opacity: 0.7;
        font-size: 0.7em;
    }
    50% {
        opacity: 0.7;
    }
    99% {
        opacity: 0;
        font-size: 2.5em;
    }
    100% {
        opacity: 0;
        font-size: 0;
    }
}