.cell {
    aspect-ratio: 1;
    width: var(--cell-size);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: calc(var(--cell-size) * 0.7);
    border-radius: 5px;
    border: 1px solid white;
}