body {
    margin: 0;
}
#root {
    --cell-size: min(calc(95vw / 17), 1.5rem);
    --button-size: 3rem;
    display: grid;
    grid-template:
        "header" auto
        "main" auto
        "footer" auto / 1fr;

    margin: 0 auto;
    main, header, footer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;
    }

    header {
        grid-area: header;
    }

    main {
        grid-area: main;
    }

    footer {
        grid-area: footer;
    }
    aside{
        grid-area: aside;
        display:none;
    }
}

.cell {
    aspect-ratio: 1;
    width: var(--cell-size);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: calc(var(--cell-size) * 0.7);
    border-radius: 5px;
    border: 1px solid white;
}

.gameButton {
    padding: 0.5rem;
    background-color: lightblue;
    border-radius: 5px;
    border: 2px solid darkblue;
    color: darkblue;
    font-size: 1.5rem;
    font-weight: bold;

}

@media screen and (min-width: 1024px) {
    body, html {
        font-size: 20px;
    }

    #root {
        grid-template:
        ". header aside" auto
        ". main aside" 1fr
        ". footer aside" auto / 1fr  min(1024px, 95svw) 1fr;
        height: 100svh;
        aside{
            display:flex;
            flex-direction: row-reverse;
            [aria-label="JSON view"] {
                overflow: auto;
                max-height: 100svh;
            }
        }
    }

}