#root {
    --cell-size: 1rem;
    display: grid;
    grid-template:
        "header" auto
        "main" auto
        "footer" auto / 1fr;
    main,header,footer{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    header{
        grid-area: header;
    }
    main{
        grid-area: main;
    }
    footer{
        grid-area: footer;
    }
}

@media screen and (min-width: 1024px) {
    #root{
        --cell-size: 2rem;
        grid-template:
        "header" auto
        "main" 1fr
        "footer" auto / 1fr;
        height: 100vh;
    }

}